<%- include("partials/header"); -%>
<h1>No Blog Found!</h1>
<form class="" action="/failure" method="post">
  <button class="btn btn-primary" type="submit" name="button">Home</button>
</form>
<%- include("partials/footer"); -%>
